Options -MultiVerse

RewriteEngine On
RewriteBase /desain-pemrograman-web/website-desawisata-karangtengah/public/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ public/index.php?url=$1 [QSA, L]
